<footer id="contact" *ngIf="!isQuotePage" class="bg-white flex flex-col text-gray-700 shadow-inner">
  <!-- Top Section -->
  <div class="flex flex-col md:flex-row justify-between items-start gap-8 p-10">
    <!-- Left Side -->
    <div class="flex flex-col md:flex-col gap-6 md:items-start md:justify-between md:w-[60%]">
    <img src="Logo/jpg.jpg" alt="Logo" class="h-28 sm:h-10 md:h-28 lg:h-28" />
     <p class="leading-relaxed text-justify md:max-w-[70%] subtext">
       The Local Basket is your trusted wholesale supplier for fresh, organic
        produce in Surrey, BC. We deliver premium fruits, vegetables, herbs, and
        specialty items daily — serving restaurants, retailers, and households
        across the Lower Mainland.Our mission is to make healthy, locally sourced food accessible to everyone while supporting regional farmers and sustainable practices.
      </p>
    </div>
    <!-- Right Side -->
    <div class="flex flex-col gap-4 md:w-[40%]">
      <h4 routerLink="/Quote"class="font-semibold text-lg sm:text-xl md:text-2xl text-[#7c9953] cursor-pointer hover:underline transition-all duration-300 Heading">
        Get In Touch
      </h4>
      <p class="text-gray-600 text-sm sm:text-base max-w-full sm:max-w-[90%] subtext">
        We’d love to hear from you! Reach out for any questions, feedback, or
        support.
      </p>
      <div class="flex flex-col gap-2 text-sm sm:text-base subtext">
        <p>
          <span class="text-[#7c9953] font-semibold">Address:</span> 1840
           Southmere Crescent E, Surrey BC V4A 9C5
        </p>
        <p>
          <span class="text-[#7c9953] font-semibold">Phone:</span>
          <a href="tel:+17785853555" class="hover:text-[#7c9953]">+1 (778) 585 - 3555</a>
        </p>
        <p>
          <span class="text-[#7c9953] font-semibold">Email:</span>
          <a href="mailto:info@thelocalbasket.ca" class="hover:text-[#7c9953]">info@thelocalbasket.ca</a>
        </p>
        <p>
          <span class="text-[#7c9953] font-semibold">Business Hours:</span> Mon –
          Sat: 6:00 AM – 6:00 PM <strong>Sun: Closed</strong>
        </p>
      </div>
      <div class="flex gap-4">
        <a href="https://wa.me/17785853555"  target="_blank" class="social-icon whatsapp" data-tooltip="WhatsApp"><i class="fab fa-whatsapp text-md"></i></a>
        <a href="mailto:&#64;gmail.com" target="_blank" class="social-icon email" data-tooltip="Email"><i class="fas fa-envelope text-md"></i></a>
        <a href="https://www.facebook.com/share/1AotFnJqvQ/?mibextid=wwXIfr" target="_blank" class="social-icon facebook" target="_blank" data-tooltip="Facebook"><i class="fab fa-facebook text-md"></i></a>
        <a href="#" class="social-icon instagram" target="_blank" data-tooltip="Instagram"><i class="fab fa-instagram text-md"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- Bottom Footer -->
<div class="bg-[rgb(240,240,245)] py-4 text-center text-md text-black  overflow-hidden subtext">
  <p> © 2025 Localbasket. All rights reserved.
    <span class=""> Powered by<a href="#" class="text-black underline hover:text-[#008929] ml-1"> Optimint </a></span>
  </p>
</div>