
/* Slide wrapper base */
.slide {
  opacity: 0;
  animation: fadeSlide 12s infinite;
}
.slide:nth-child(1) { animation-delay: 0s; }
.slide:nth-child(2) { animation-delay: 4s; }
.slide:nth-child(3) { animation-delay: 8s; }

/* Left Content animation */
.slide .left-content {
  opacity: 0;
  animation: fadeUpSlide 12s infinite;
}
.slide:nth-child(1) .left-content { animation-delay: 0.2s; }
.slide:nth-child(2) .left-content { animation-delay: 4.2s; }
.slide:nth-child(3) .left-content { animation-delay: 8.2s; }

/* Right Content animation */
.slide .right-content {
  opacity: 0;
  animation: fadeRightSlide 12s infinite;
}
.slide:nth-child(1) .right-content { animation-delay: 0.4s; }
.slide:nth-child(2) .right-content { animation-delay: 4.4s; }
.slide:nth-child(3) .right-content { animation-delay: 8.4s; }

/* Slide fade timing */
@keyframes fadeSlide {
  0% { opacity: 0; }
  5%, 30% { opacity: 1; }
  35%, 100% { opacity: 0; }
}

/* Left Content bottom se upar */
@keyframes fadeUpSlide {
  0% { opacity: 0; transform: translateY(40px); }
  10%, 30% { opacity: 1; transform: translateY(0); }
  35%, 100% { opacity: 0; transform: translateY(40px); }
}

/* Right Content right se andar */
@keyframes fadeRightSlide {
  0% { opacity: 0; transform: translateX(60px); }
  10%, 30% { opacity: 1; transform: translateX(0); }
  35%, 100% { opacity: 0; transform: translateX(-60px); }
}

/* Custom font style */
// .custom-font {
//   font-family: "Lora", Georgia, serif;
//   font-style: italic;
//   color: #82ae46;
// }

// .Title-font {
//   font-family: 'Lexend', sans-serif;
// }

// .body-font{
//   font-family:'DM Sans', sans-serif;
// }

.subtext{
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}
.Heading{
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}

