@use '@angular/material' as mat;
@use "tailwindcss" as *;
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  //  Custom typography font family
    typography: (
      brand-family: 'Lato, sans-serif',
    ),
    density: 0,
  ));
}

// Base styling for Material + Tailwind
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Lato', sans-serif; //Global font
  margin: 0;
}

//  Reset + Global Utilities
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x:hidden; 
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

// Fix Material input outline issue
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}
